@import 'includes';

h1, h2, h3, h4, h5 {
  @media screen and (max-width: $lapWidth) {
    text-align: center;
  }
}

.home_section {
  padding: 2.5rem 0;
  .button {
    @include button_color($primaryColor,$bodyFontColor);
  }
  input {
    border-color: transparent;
    &:focus,
    &:hover {
      border-color: darken($bodyFontColor,10%);
    }
    &:focus {
      box-shadow: inset 0 1px 3px rgba(#000,0.3);
    }
  }
  &:nth-child(odd) {
    background-color: $bodyFontColor;
    color: $primaryColor;
    h1, h2, h3, h4, h5, strong {
      color: $primaryColor;
    }
    a {
      color: $primaryColor;
      text-decoration: underline;
    }
  }

  h1 {
    font-weight: $weightNormal;
  }

  h2 {
    @include fontH1;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.home_section_text {
  p {
    font-size: 1.125rem;
    line-height: 1.75;
  }
}

.home_logo {
  width: 4rem;
  margin: 0 auto $rhythm * 2;
  display: block;
  @media screen and (min-width: $lapWidth) {
    margin-left: 0;
    margin-right: 0;
  }
}

.home_section_inner {
  width: 90%;
  max-width: 48rem;
  margin: 0 auto;
}

.home_tagline {
  font-size: 3rem;
}

.home_get_reminded {
  @include fontH3;
}

// Smaller gutter
.home_subscribe_form {
  .grid {
    margin-left: -1rem;
  }

  .item {
    padding-left: 1rem;
    margin-bottom: $rhythm;
  }

  // https://github.com/dobtco/dvl-core/issues/266
  .button {
    height: 3.5rem;
    line-height: 3.5rem;
  }
}

.home_section_primary {
  padding: ($lineHeight * 3) 0;
  background: asset-url('header.jpg') top center no-repeat;
  background-size: cover;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($bodyFontColor,0.85);
    background: linear-gradient(rgba($bodyFontColor,0.75),$bodyFontColor);
  }
  .home_section_inner {
    position: relative;
    z-index: 3;
  }
}

.home_team {
  margin-left: -2rem;
  margin-bottom: $lineHeight * 2;

  .item {
    padding-left: 2rem;
    margin-bottom: $lineHeight;
    @media screen and (min-width: $lapWidth) {
      width: 33.3333%;
      margin-bottom: $rhythm * 5;
    }
    @media screen and (min-width: $deskWidth) {
      width: 25%;
    }
    text-align: center;
  }

  img {
    border-radius: 50%;
    margin-bottom: $rhythm * 2;
  }
}

.home_team_name,
.home_team_position {
  display: block;
}

.home_team_name {
  font-weight: $weightBold;
}

.team_partners {
  li {
    margin-bottom: $rhythm * 2;
    text-align: center;
    @media screen and (min-width: $lapWidth) {
      text-align: left;
      width: 33.333333%;
      margin-bottom: $rhythm * 5;
    }
    @media screen and (min-width: $deskWidth) {
      width: 25%;
    }
  }
  strong {
    font-weight: $weightNormal;
  }
  span {
    display: block;
    font-size: $fontSmall;
    opacity: 0.8;
  }
}
